.elementor-58 .elementor-element.elementor-element-16516c4 > .elementor-element-populated{padding:0px 0px 0px 0px;}
            .elementor-58 .elementor-element.elementor-element-c62c948 .tx-button,
            .elementor-58 .elementor-element.elementor-element-c62c948 .tx-button::after
        {background-color:#000000;}
            .elementor-58 .elementor-element.elementor-element-c62c948 .tx-header .navbar-nav li a::after
        {background-color:#FFFFFF;}.elementor-58 .elementor-element.elementor-element-c62c948 .mobile-menu-bg span:nth-child(1){background-color:#090707;}.elementor-58 .elementor-element.elementor-element-c62c948 .tx-header .navbar-nav .dropdown-menu{background-color:#FFFFFF !important;}